*
{
    padding: 0;
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif ;

} 

h2
{
    text-align: center;
    padding-top: 15%;
    padding-bottom: 5%;
}

button
{
    background: #3CB371;
    width: 150px;
    font-size: 15px;
    height: 40px;
    color: white;
    margin-top: 10px;
}

.button
{
    text-align: center;
}

.name 
{ 
    grid-area: name;
    color: #ffffff;
}
.list
{
    grid-area: list; 
}
.content
{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas:
    'name name name name list ';
}

nav
{
    width: 100%;
    height: 40px;
    padding: 5px;
    background: #2E8B57;
    position: fixed;
    z-index: 1;
    top: 0px;
}

nav ul
{
    float: right;
}

nav ul li
{
    list-style: none;
    display: inline-block;
}

nav ul li a,
.sidebar ul li a
{
    text-decoration: none;
    color: #ccc;
}

nav ul li a.active,
nav ul li a:hover,
.sidebar ul li a.active,
.sidebar ul li a:hover
{
    color: #ffffff;
}

/* profile page */
.profile
{
    display: grid;
    grid-template-columns: 25% 70%;
}

.sidebar
{
    padding: 40% 4% 1% 1%;
    height: 100%;
    z-index: -1;
    background-color: #262D27;
    color: #ffffff;

}


.sidebar ul li
{
    list-style: none;
    padding-top: 5%;
    border-bottom: 1px solid #ffffff;

}

.entries
{
    background: #ffffff;
}
.entry
{
    background: #ffffff;
    margin: 1%;
    padding: 1%;
}

.entry .head
{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.entry .head i
{
    display: block;
}

/* new */
.title
{
    margin-bottom: 10px;
}

.title input
{
    width: 100%;
}

.new
{
    margin: 1%;
    padding: 1%;
}

.new textarea
{
    width: 98%;
    height: 50em;
    overflow: hidden;
    overflow-y: scroll;
    padding: 1%;
}

.checkbox
{
    float: right;
}


/* settings */
.settings
{
    display: grid;
    grid-template-areas:
    'left right '
    'rem rem ';
    padding: 15% 10% 10% 10%;
    background: #ffffff;
    height: 500px;
    border-radius: 10px;
}


.left
{
    grid-area: left;

}

.right
{
    grid-area: right;

}

.reminder
{
    grid-area: rem;
}

.settings ul li
{
    list-style: none;
    padding-top: 5%;
}

.settings ul li a
{
    text-decoration: none;
    color: #00008B;
}
.reminder h3
{
    margin-bottom: 3%;
}
.reminder .small
{
    width: 50px;
    padding-left: 10px;
}
.reminder label
{
    display: block;
}