*
{
    padding: 0;
    margin: 0;
    font-family: "Times New Roman", Times, serif;

} 
body
{
    background-image: url("../img/book.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}


button
{
    background: #3CB371;
    width: 100px;
    font-size: 15px;
    height: 40px;
    margin-top: 10px;
}

.form button
{
    background: #3CB371;
    width: 100%;
    font-size: 15px;
    height: 40px;
    margin-top: 10px;
}

.button
{
    width: 50%;
    margin: auto;
}

.sublinks
{
    text-align: center;
    padding-top: 20px;
}

.sublinks a
{
    text-decoration: none;
}

h1
{
    font-size: 5em;
    color: #262D27;
}

h2
{
    text-align: center;

}

p img
{
    width: 20px;
    height: 20px;
}

.name 
{ 
    grid-area: name;
    
}

.name a
{
    color: #ffffff;
    text-decoration: none
}
.list
{
    grid-area: list; 
}
.content
{
    padding-top: 1%;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas:
    'name name name name list ';
}

nav
{
    color: #ffffff;
    width: 100%;
    height: 40px;
    padding: 5px;
    background: #2E8B57;
    position: fixed;
    z-index: 1;
    top: 0px;
}

nav ul
{
    float: right;
}

nav ul li
{
    list-style: none;
    display: inline-block;
}

nav ul li a
{
    text-decoration: none;
    color: #ffffff;

}

.heading
{
    display:grid;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10%;
}

.container
{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 40% 30% 30%;
    text-align: left;
    padding-top: 5%;
}

.item
{
    background: #ffffff;
    border-radius: 10px;
    opacity: 0.9;
    padding: 2%;
    margin:1%;
}
.item ul li
{
    list-style-position: inside;
    list-style-image: url('../img/arrow.png');
    padding-top: 10px;
    padding-bottom: 10px;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="container"] {
        grid-template-columns: 100%;
        padding-bottom: 10%;
    }
}

footer
{
    padding: 20px;
    text-align: center;
    background: #ccc;
    bottom: 0px;
    width: 100%;
    position: fixed;
}


/* signup */
.form
{ 
    background: #ffffff;
    opacity: 0.9;
    border-radius: 15px;
    width: 50%;
    padding: 3%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px; 
}

.form label
{
    display: block;
    margin: 1%;
}

.form input
{
    display: block;
    margin: 1%;
    width: 95%;
	height: 50px;
    border: 1px solid #000;
    background: #ffffff;
    font-size: 16px;
    padding-left: 10px;

}


.form a 
{
    text-decoration: none;
}

/* view */
.view
{
    display: grid;
    grid-template-areas:
    ' article aside ';
    width: 80%;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 10%;
    min-height: 500px;
    
}
.view article
{
    grid-area: article;
    min-height: 500px;
    padding: 3%;
    margin-left: 10%;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.view article p
{
    padding-top: 10px;
    padding-bottom: 10px;  
}

.view aside
{   
    grid-area: aside;
    background: #ffffff;
    opacity: 0.9;
    border-radius: 5px; 
    padding: 2.5%; 
}

.view aside ul li
{
    list-style: none;
}

.view aside ul li a
{
    font-size: 12px;
}

/* 
** Toast solution from https://www.w3schools.com/howto/howto_js_snackbar.asp
*/

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
