*
{
    padding: 0;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
} 

h2
{
    text-align: center;
    padding-top: 15%;
    padding-bottom: 5%;
}

button
{
    background: #3CB371;
    width: 100px;
    font-size: 15px;
    height: 40px;
    color: white;
    margin-top: 10px;
}

.button
{
    text-align: center;
}

.entry .button
{
    text-align: right;
}

.name 
{ 
    grid-area: name;
    color: #ffffff;
}
.name a
{
    color: #ffffff;
    text-decoration: none
}
.list
{
    grid-area: list; 
}
.content
{
    padding-top: 1%;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas:
    'name name name name list ';
}

nav
{
    width: 100%;
    height: 40px;
    padding: 5px;
    color: #ffffff;
    background: #2E8B57;
    position: fixed;
    z-index: 1;
    top: 0px;
}

nav ul
{
    float: right;
}

nav ul li
{
    list-style: none;
    display: inline-block;
}

nav ul li a
{
    text-decoration: none;
    color: #ffffff;

}


/* profile page */
.profile
{
    display: block;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 70% ;
}

.sidebar{
    padding-top: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="profile"] {
        grid-template-columns: 100%;
    }
    [class*="sidebar"] {
        padding-top: 20%;
    }
}



.sidebar button
{
    width: 100%;
    text-align: center;
    height: 35px;
    background: #FFFAF0;
    color: #333;
    border-color: #2E8B57;
}

#batch
{
    margin-left: 5px;
    padding: 5px;
}

.sidebar ul li
{
    list-style: none;
    padding-top: 6%;
    border-bottom: 1px solid #ffffff;

}

#entries
{
    background: #ffffff;
    margin-left: 5%;
    padding: 2%;
}
.entry
{
    background: #ffffff;
    margin-top: 20px;
    font-size: 1.2em;
}

.entry .head
{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.entry .head i
{
    display: block;
}

.entry p
{
    text-align: center;
}

/* new */
.title
{
    margin-bottom: 10px;
}

.title input
{
    width: 100%;
    height: 30px;
    border-width:  1px;
    border-color: #ccc;
}

.new
{
    margin: 1%;
    padding-left: 10%;
}

.new textarea
{
    width: 98%;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 1%;
}

/* settings */
.reminder
{
    padding: 10%;
}
.reminder h3
{
    margin-bottom: 3%;
}
.reminder .small
{
    width: 50px;
    padding-left: 10px;
}
.reminder label
{
    display: block;
}

#setReminder
{
    text-align: center;
}

/* 
** Toast solution from https://www.w3schools.com/howto/howto_js_snackbar.asp
*/

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
